  .c-tabs-nav {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .c-tabs-nav__link {
            flex: 1;
            margin-right: 4px;
            padding: 12px;
            color: #fff;
            background-color: #b3b3b3;
            text-align: center;
            transition: color 0.3s;
        }

            .c-tabs-nav__link:last-child {
                margin-right: 0;
            }

            .c-tabs-nav__link:hover {
                color: #6d6d6d;
            }

            .c-tabs-nav__link.is-active {
                //color: #dc446e;
                color:#ffffff;
                //background-color: #e7e7e7;
               background-color: #484647;
                //background-color: #C19A5A;
            }

            .c-tabs-nav__link i,
            .c-tabs-nav__link span {
                margin: 0;
                padding: 0;
                line-height: 1;
            }

            .c-tabs-nav__link i {
                font-size: 18px;
            }

            .c-tabs-nav__link span {
                display: block;
                font-size: 12px;
            }
        .c-tab {
            display: none;
            /*background-color: #e7e7e7;*/
        }

            .c-tab.is-active {
                display: block;
            }

        .c-tab__content {
            padding: 1.5rem;
        }
        .c-tabs.no-js .c-tabs-nav {
            display: none;
        }

        .c-tabs.no-js .c-tab {
            display: block;
            margin-bottom: 1.5rem;
        }

            .c-tabs.no-js .c-tab:last-child {
                margin-bottom: 0;
            }
        @media all and (min-width: 720px) {
            .c-tabs-nav__link i {
                margin-bottom: 12px;
                font-size: 22px;
            }

            .c-tabs-nav__link span {
                display: block;
                font-size: 18px;
            }
        }