<div ng-app="KohlerMarketModule" class="container-fluid">
    <div class="container-fluid" style="padding-top: 2%" ng-controller="DashboardController">
        <div class="row">
            <div class="form-group form-inline">
                <h5>[Use Shift+Click to Select Multiple Options]</h5>
                Select Region:
                <select style="width:100px" class="form-control input-sm" name="regions" ng-model="selectedRegion"
                        multiple>
                    <option ng-repeat="region in regions" value="{{region}}">{{region}}</option>
                </select>

                Select Zone:
                <select style="width:100px" class="form-control input-sm" name="zones" ng-model="selectedZone"
                        multiple>
                    <option ng-repeat="zone in zones" value="{{zone}}">{{zone}}</option>
                </select>

                Select City:
                <select  style="width:150px" class="form-control input-sm" name="cities" ng-model="selectedCity" multiple>
                    <option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
                </select>

                Select Catchment:
                <select style="width:200px" class="form-control input-sm" name="catchments" ng-model="selectedCatchment " multiple>
                    <option ng-repeat="catchment in catchments" value="{{catchment}}">{{catchment}}</option>
                </select>

                <button ng-click="init(selectedCity,selectedRegion,selectedCatchment,selectedZone)"
                        style="background-color: #C19A5A;color:#ffffff"
                        class="form-control input-sm">
                    submit
                </button>
            </div>
        </div>
        <span>Percentage Data Completed for 63 Cities</span>
        <div class="progress">
            <div class="progress-bar" role="progressbar" id="progressbar"
                 aria-valuenow="{{(completed*100)/total}}" aria-valuemin="0" aria-valuemax="100"
                 style="width:{{(completed*100/total)}}%">
                {{((completed*100)/total).toFixed(2)}}%
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3 align="center">Dealers Count By Brand</h3>
                <canvas id="dealersByBrand" class="chart chart-bar" chart-options="countByBrandChartOptions"
                        chart-data="dealersByBrand" chart-labels="labels"> chart-series="series"
                </canvas>
            </div>
            <div class="col-md-6">
                <div ui-grid="countByBrandGridOptions" style="width: 100%;height: 50px;margin-top:5%;"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3 align="center">Market Share(%) by Brand</h3>
                <canvas id="marketSharedByBrand" class="chart chart-pie" chart-options="marketShareChartOptions"
                        chart-data="marketShareByBrand" chart-labels="labels" chart-options="options">
                </canvas>
            </div>
            <div class="col-md-6">
                <div ui-grid="marketShareByBrandGridOptions" style="width: 100%;height: 50px;margin-top:5%;"></div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <h3 align="center">Weighted Reach By Brand(%)</h3>
                <canvas id="reachByBrand" class="chart chart-bar" chart-options="reachByBrandChartOptions"
                        chart-data="reachByBrand" chart-labels="labels"> chart-series="series"
                </canvas>

            </div>
            <div class="col-md-6">
                <div>
                    <div ui-grid="reachByBrandGridOptions" style="width: 100%;height: 50px;margin-top:5%;"></div>
                </div>
            </div>
        </div>


    </div>
</div>

