﻿<html ng-app="KohlerMarketModule">
<!-- id="ng-app" IE<8 -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
        .grid {
            width: 100%;
            height: 400px;
            margin-top: 2%;
        }

        .ui-grid-render-container-body {
            position: absolute;
            margin-left: 31px;

        }
    </style>
</head>
<body>
<div ng-controller="DealerDetailsController">

    <h2 ng-if="loadingData">Loading Data...</h2>
    <div ng-if="userKo=='89321'" ui-grid="gridOptions" class="grid" ui-grid-selection ui-grid-pagination
         ui-grid-resize-columns
         ui-grid-move-columns ui-grid-auto-resize ui-grid-pinning ui-grid-exporter></div>

    <div ng-if="userKo!='89321'" ui-grid="gridOptions" class="grid" ui-grid-selection ui-grid-pagination
         ui-grid-resize-columns
         ui-grid-move-columns ui-grid-auto-resize ui-grid-pinning></div>


    <!--<div ui-grid-move-columns-->
    <!--ui-grid-resize-columns-->
    <!--ui-grid-expandable-->
    <!--ui-grid="vm.gridOptions"-->
    <!--ui-grid-selection-->
    <!--class="grid"-->
    <!--ui-grid-pagination-->
    <!--ui-grid-exporter-->
    <!--ui-grid-auto-resize-->
    <!--style="margin-top: 2%"></div>-->
    <button ng-click="addNew()"
            style="background-color: #C19A5A;color:#ffffff;padding-top: 10px"
            class="btn pull-left"
            id="btnAddNewDealer">
        Add New Dealer
    </button>
</div>


<script type="text/ng-template" id="confirmAlert.html">

    <div class="panel panel-default modal-body">
        <div class="panel-heading divMargin">Add New Dealer</div>
        <form class="innerWrap sub-modal" name="frmAddNewDealer" ng-submit="ok(dealer)">
            <div class="row">
                <div class="col-md-4">
                    <div class="divMargin">
                        <input ng-model="dealer.prospectName" id="txtAddNewDealerName" class="form-control-picker"
                               placeholder="Enter Dealer Name"/>
                    </div>
                    <div class="divMargin">
                        <input ng-model="dealer.address" id="txtAddNewAddress" class="form-control-picker"
                               placeholder="Enter Address"/>
                    </div>
                    <div class="divMargin">
                        <input ng-model="dealer.contactPersonName" id="txtAddNewContactName" class="form-control-picker"
                               placeholder="Enter Contact Name"/>
                    </div>
                    <div class="divMargin">
                        <input ng-model="dealer.sourceCompanyName" id="txtAddNewDealerSource"
                               class="form-control-picker" placeholder="Enter Dealer Source"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="divMargin">
                        <input ng-model="dealer.email" type="email" id="txtAddNewContactEmail" name="email"
                               class="form-control-picker" placeholder="Enter Contact Email"/>
                        <span style="color:red"
                              ng-show="frmAddNewDealer.email.$dirty && divDealerDetails.email.$invalid">
                                <span ng-show="frmAddNewDealer.email.$error.required">Email is required.</span>
                                <span ng-show="frmAddNewDealer.email.$error.email">Invalid email address.</span>
                            </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="divMargin">
                        <label>State:</label>
                        <label style="font-weight:bold">{{lblAddNewState}}</label>
                    </div>
                    <div class="divMargin">
                        <select ng-model="dealer.catchmentName" style="width: 100%;left: 10%" class="form-control"
                                name="catchments">
                            <option value="">Select Catchment</option>
                            <option ng-repeat="item in catchments" value="{{item.catchment}}">{{item.catchment}}
                            </option>
                        </select>
                        <!--<input ng-model="dealer.catchmentName" id="txtAddNewCatchmentName"-->
                        <!--class="form-control-picker" placeholder="Enter Catchment Name"/>-->
                    </div>
                    <div class="divMargin">
                        <input ng-model="dealer.contactNumber" id="txtAddNewContactNumber" name="phone"
                               type="number" ng-minlength="10" ng-maxlength="10" class="form-control-picker"
                               placeholder="Enter Contact Number"/>
                        <span style="color:red">
                                <span class="error" ng-show="frmAddNewDealer.phone.$error.required">Required!</span>
                                <span class="error" ng-show="frmAddNewDealer.phone.$error.minlength">Phone no not less that 10 char.</span>
                                <span class="error" ng-show="frmAddNewDealer.phone.$error.maxlength">Phone no not more than 11 char.</span>
                            </span>

                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <div class="row ">
                    <div class="pull-right">
                        <div class="col-sm-4">
                            <button ng-disabled="!frmAddNewDealer.$valid" class="btn grn-btn m-t-0 btn-success"
                                    type="submit">Save
                            </button>
                        </div>
                        <div class="col-sm-5">
                            <button class="btn grn-btn line-btn  m-t-0 btn-warning" type=""
                                    ng-click="cancelDelete()">Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>


</script>
</body>
</html>