﻿<html id="ng-app" ng-app="KohlerMarketapp">
<!-- id="ng-app" IE<8 -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="./css/bootstrap-3.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/ui-grid.css" type="text/css">
    <link rel="stylesheet" href="./css/tabs.css"/>
    <link rel="stylesheet" href="./css/jquery.inputpicker.css"/>
    <link rel="stylesheet" type="text/css" href="./css/multiple-select.css">

    <title>Retail Audit</title>
    <style>
        .ng-hide, [ng-cloak] {
            display: none !important;
        }

        .ng-show {
            display: block !important;
        }

        .divMargin {
            margin-bottom: 10px;
        }

        ul.nav-tabs > li {
            width: 33%;
            text-align: center;
        }

        ul.nav-tabs a {
            color: #515151;
        }

        ul.nav-tabs a:hover {
            color: #515151;
        }
    </style>

    <script src="./scripts/jquery.min.js"></script>
    <script type="text/javascript" src="./scripts/jquery-ui.min.js"></script>


</head>
<body style="background-color: #F4F2ED">


<!--<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #484647">-->
<!--<div>-->
<!--<img src="images/kohler-logo.png"-->
<!--style="width:120px;height: 42px;margin:0.5%"/>-->

<!--<button class="button button-balanced" onclick="window.history.back()">HOME</button>-->

<!--</div>-->
<!--</nav>-->

<!--<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #484647">-->
<!--<div class="container">-->
<!--<div class="navbar-header">-->
<!--<div>-->
<!--<img src="images/kohler-logo.png"-->
<!--style="width:120px;height: 42px;margin:0.5%"/>-->

<!--</div>-->
<!--</div>-->
<!--<div id="navbar" class="navbar-collapse collapse">-->

<!--<ul class="nav navbar-nav navbar-left">-->
<!--<li>-->
<!--<a href="{{Portal}}" style="font-weight: bold;color: #ffffff"><i class="fa fa-home fa-lg"-->
<!--aria-hidden="true"></i>-->
<!--Home</a></li>-->
<!--</ul>-->

<!--<ul class="nav navbar-nav navbar-right">-->
<!--<li class="{{$location.url().includes('landing') ? 'active':''}}"><a-->
<!--href="#/landing/{{$routeParams.token}}/{{$routeParams.ko}}"-->
<!--style="font-weight: bold;color: #C19A5A">Dealer List</a></li>-->
<!--<li class="{{$location.url().includes('dashboard') ? 'active':''}}"><a-->
<!--href="#/dashboard/{{$routeParams.token}}/{{$routeParams.ko}}"-->
<!--style="font-weight: bold;color: #C19A5A">Dashboard</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
<!--</div>-->
<!--</nav>-->

<!--<ul class="nav navbar-nav navbar-right">-->
<!--<li class="{{$location.url().includes('landing') ? 'active':''}}"><a-->
<!--href="#/landing/{{$routeParams.token}}/{{$routeParams.ko}}"-->
<!--style="font-weight: bold;color: #C19A5A">Dealer List</a></li>-->
<!--<li class="{{$location.url().includes('dashboard') ? 'active':''}}"><a-->
<!--href="#/dashboard/{{$routeParams.token}}/{{$routeParams.ko}}"-->
<!--style="font-weight: bold;color: #C19A5A">Dashboard</a></li>-->
<!--</ul>-->

<!--<a href="#/landing/{{$routeParams.token}}/{{$routeParams.ko}}">Dealer List</a> | <a-->
<!--href="#/dashboard/{{$routeParams.token}}/{{$routeParams.ko}}">Dashboard</a>-->

<div class="col-md-4">
    <ul class="nav nav-tabs">
        <li ng-class="{active:$location.path().includes('landing')}"><a
                href="#/landing/{{$routeParams.token}}/{{$routeParams.ko}}">DealerList</a></li>
        <li ng-class="{active:$location.path().includes('dashboard')}"><a
                href="#/dashboard/{{$routeParams.token}}/{{$routeParams.ko}}">Dashboard</a></li>
    </ul>
</div>

<div ng-view class="row-fluid col-md-12">
</div>


<script>
    var timestamp = Date.now()
</script>
<script src="./scripts/angular.js"></script>
<script src="https://cdn.jsdelivr.net/npm/angular-idle-service@1.0.0/dist/angular-idle-service.js"></script>
<script src="./scripts/angular-cookies-1.0.0rc10.js"></script>
<script src="./scripts/angular.ng-modules.js"></script>
<script src="./scripts/angular-route.js"></script>
<script src="./scripts/angular-resource.js"></script>
<script src="./scripts/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="./scripts/vfs_fonts.js"></script>
<script src="./scripts/ui-grid.js"></script>
<script src="./scripts/Chart.min.js"></script>
<script src="./scripts/angular-chart.js"></script>
<script src="./scripts/angular-chart.min.js"></script>

<script src="./scripts/tabs.js"></script>
<script type="text/javascript" src="./scripts/jquery.inputpicker.js"></script>
<script src="./scripts/multiple-select.js"></script>
<script>document.write("<script  src=./scripts/app.js?v=" + timestamp + "'><\/script>");</script>
<script>document.write("<script  src=./scripts/marketmappingcontroller.js?v=" + timestamp + "'><\/script>");</script>
<script>document.write("<script  src=./scripts/marketmappingpreviewcontroller.js?v=" + timestamp + "'><\/script>");</script>
<script>document.write("<script  src=./scripts/marketmappingservice.js?v=" + timestamp + "'><\/script>");</script>
<script>document.write("<script  src=./scripts/marketmappingpreviewservice.js?v=" + timestamp + "'><\/script>");</script>
<script>document.write("<script  src=./scripts/dealerdetailscontroller.js?v=" + timestamp + "'><\/script>");</script>
<script>document.write("<script  src=./scripts/dashboardcontroller.js?v=" + timestamp + "'><\/script>");</script>
<script>document.write("<script  src=./scripts/dashboardservice.js?v=" + timestamp + "'><\/script>");</script>
</body>
</html>