﻿﻿﻿
<html ng-app="KohlerMarketModule">
<!-- id="ng-app" IE<8 -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <style>
        .ng-hide, [ng-cloak] {
            display: none !important;
        }

        .ng-show {
            display: block !important;
        }

        .divMargin {
            margin-bottom: 10px;
        }

        ul.nav-tabs > li {
            width: 33%;
            text-align: center;
        }

        .ms-drop.bottom {
            width: 300px;
        }

        .error {
            font-family: Arial;
            font-size: 12px;
            color: #b81900;
        }

        .inputpicker-wrapped-list .table .selected {
            background-color: #e5e5e5 !important;
        }

    </style>


</head>
<body>

<div class="container-fluid" ng-controller="MarketMappingController" style="margin-top:20px;background-color: #F4F2ED">
    <div id="mainDiv" class="row">
        <div class="col-md-3">
            <div>
                <label title="">Dealer:</label>
                <!--<label style="font-weight:bold">{{marketmapping.lblTSMName}}</label>-->
            </div>
            <!--<input class="form-control-picker divMargin ddlDealerName" id="ddlDealerName">-->
            <h4>{{marketmapping.prospectName}}</h4>

        </div>

        <div class="col-md-3">
            <div>
                <label>Zone:</label>
                <label style="font-weight:bold">{{marketmapping.lblZone}}</label>
            </div>
            <div>
                <label>Address:</label>
                <label style="font-weight:bold">{{marketmapping.lblAddress}}</label>
            </div>
            <div>
                <label>City:</label>
                <label style="font-weight:bold">{{marketmapping.lblCity}}</label>
            </div>
            <div>
                <label>City Rank:</label>
                <label style="font-weight:bold">{{marketmapping.lblCityRank}}</label>
            </div>
            <div>
                <label>Dealer Source:</label>
                <label style="font-weight:bold">{{marketmapping.lblDealerSource}}</label>
            </div>

        </div>

        <div class="col-md-3">
            <div>
                <label>Territory:</label>
                <label>{{marketmapping.lblTerritory}}</label>
            </div>
            <div>
                <label>Dealer Ref No:</label>
                <label style="font-weight:bold">{{marketmapping.lblDealerRefNo}}</label>
            </div>
            <div>
                <label>State:</label>
                <label style="font-weight:bold">{{marketmapping.lblState}}</label>
            </div>
            <div>
                <label>Region:</label>
                <label style="font-weight:bold">{{marketmapping.lblRegion}}</label>
            </div>
            <div>
                <label>ASM Name:</label>
                <label style="font-weight:bold">{{lblASMName}}</label>
            </div>
            <div>
                <label>Catchment Name:</label>
                <label style="font-weight:bold">{{lblCatchmentName}}</label>
            </div>

        </div>
        <div class="col-md-3">
            <div>
                <label>Contact Name:</label>
                <label style="font-weight:bold">{{marketmapping.lblContactName}}</label>
                <input class="form-control-picker divMargin" id="txtContactName"
                       ng-model="marketmapping.txtContactName"/>
            </div>
            <div>
                <label>Contact Email:</label>
                <!--<label style="font-weight:bold">{{lblContactEmail}}</label>-->
                <input class="form-control-picker divMargin" id="txtContactEmail"
                       ng-model="marketmapping.txtContactEmail"/>
            </div>

            <div>
                <label>Contact No:</label>
                <!--<label style="font-weight:bold">{{lblContactNo}}</label>-->
                <input class="form-control-picker divMargin" id="txtContactNo" ng-model="marketmapping.txtContactNo"/>
            </div>
        </div>
    </div>

    <div id="tabs" class="c-tabs no-js">
        <div class="c-tabs-nav">
            <a href="#" class="c-tabs-nav__link is-active"><span>Dealer Info</span></a>
            <a href="#" class="c-tabs-nav__link"><span>Business Split</span></a>
            <a href="#" class="c-tabs-nav__link"><span>Store Area</span></a>

        </div>
        <div class="c-tab is-active">
            <div class="c-tab__content">
                <div class="divMargin">
                    <input type="checkbox" id="chkDuplicate"> Duplicate
                    <!--<input id="txtDealerRefNo" ng-model="dealerInfo.txtDealerRefNo" placeholder="Dealer Ref No" class="form-control"/>-->
                    <input class="form-control-picker divMargin" id="ddlDealerNameDuplicate" value=""
                           onclick="showPreviewButton()">
                    <button id="saveBtn" ng-click="LoadPreview(true)">Preview & Save</button>
                </div>
                <form onsubmit="gotoTab(1)">
                    <div class="row divMargin">
                        <div>
                            <div class="row">
                                <div class="form-inline">
                                    <div class="col-md-4">
                                        <label>Store Location:</label>
                                        <select id="ddlStoreLocation" class="divMargin input-md">
                                            <option value="High Street">High Street</option>
                                            <option value="Building Material Cluster">Building Material Cluster</option>
                                            <option value="Individual Stand Alone Store">Individual Stand Alone Store
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Store Type:</label>
                                        <select id="ddlStoreType" class="divMargin input-md">
                                            <option value="Sanitaryware Dealer">Sanitaryware Dealer</option>
                                            <option value="Distributor and Retailing Sanitary">Distributor and Retailing
                                                Sanitary
                                            </option>
                                            <option value="Distributor but Not Retailing Sanitary">Distributor but Not
                                                Retailing Sanitary
                                            </option>
                                            <option value="Sanitaryware Sub Dealer">Sanitaryware Sub Dealer</option>
                                            <option value="Non Sanitary ware Tiles Dealer">Non Sanitary ware Tiles
                                                Dealer
                                            </option>
                                            <option value="Non Sanitary ware Pipes Dealer">Non Sanitary ware Pipes
                                                Dealer
                                            </option>
                                            <option value="Non Sanitary ware Paint Dealer">Non Sanitary ware Paint
                                                Dealer
                                            </option>
                                            <option value="Non Sanitary ware Cement Dealer">Non Sanitary ware Cement
                                                Dealer
                                            </option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Dealer For:</label>
                                        <select id="ddlDealerFor" class="divMargin input-md">
                                            <option value="SanitaryWare">SanitaryWare</option>
                                            <option value="Tiles">Tiles</option>
                                            <option value="Pipes">Pipes</option>
                                            <option value="Cement">Cement</option>
                                            <option value="Others">Others</option>
                                        </select>
                                        <input ng-model="dealerInfo.txtDealerFor" placeholder="Specify other dealer for"
                                               class="form-control divMargin col-md-offset-5"
                                               style="width:200px;display:none"
                                               id="txtDealerForOther"/>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div>
                            <div class="row">
                                <div class="form-inline">
                                    <div id="ddlDistributorForDiv" class="col-md-6">
                                        <label>Distributor For:</label>
                                        <select id="ddlDistributorFor" class="divMargin input-md">
                                            <option value="Kohler">Kohler</option>
                                            <option value="Hindware">Hindware</option>
                                            <option value="Jaquar">Jaquar</option>
                                            <option value="Parryware">Parryware</option>
                                            <option value="Roca">Roca</option>
                                            <option value="Cera">Cera</option>
                                            <option value="Grohe">Grohe</option>
                                            <option value="Toto">Toto</option>
                                            <option value="Geberit">Geberit</option>
                                            <option value="American Standard">American Standard</option>
                                            <option value="Delta">Delta</option>
                                            <option value="Hansgrohe">Hansgrohe</option>
                                            <option value="Duravit">Duravit</option>
                                            <option value="Vitra">Vitra</option>
                                            <option value="Other Sanitaryware">Other Sanitaryware</option>
                                            <option value="Kajaria Tiles">Kajaria Tiles</option>
                                            <option value="Somany Tiles">Somany Tiles</option>
                                            <option value="Other Tiles">Other Tiles</option>
                                            <option value="Astral Pipes">Astral Pipes</option>
                                            <option value="Supreme Pipes">Supreme Pipes</option>
                                            <option value="Tata Pipes">Tata Pipes</option>
                                            <option value="Other Pipes">Other Pipes</option>
                                            <option value="Kitchens">Kitchens</option>
                                        </select>
                                        <input ng-model="dealerInfo.txtDistributorFor"
                                               placeholder="Specify other distributor for"
                                               class="form-control divMargin col-md-offset-5"
                                               style="width:200px;display:none"
                                               id="txtDistributorForOther"/>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Overall Biz:</label>
                                        <input id="overallBusiness" ng-model="dealerInfo.overallBiz" type="number"
                                               min="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                               ng-model="" title="Overall Biz" placeholder="Overall Biz"
                                               class="form-control input-sm divMargin" required/>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="form-inline">
                                    <div class="col-md-4">
                                        <label>Sanitary Biz:</label>
                                        <label class="error" ng-show="dealerInfo.sanitaryBiz>dealerInfo.overallBiz">*Sanitary
                                            Biz should not more than {{dealerInfo.overallBiz}} </label>
                                        <input type="number" min="1" ng-model="dealerInfo.sanitaryBiz"
                                               id="sanitaryBusiness"
                                               onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                               name="sanitaryBusiness" placeholder="Sanitary Biz"
                                               class="form-control input-sm divMargin" title="Sanitary Business"
                                               required>
                                    </div>
                                    <div class="col-md-4">
                                        +&nbsp; &nbsp;&nbsp;<label>Non Sanitary Biz:</label>
                                        <input title="Non Sanitary Business" type="text" id="nonSanitaryBusiness"
                                               name="nonSanitaryBusiness" placeholder="Non Sanitary Biz"
                                               class="form-control input-sm divMargin" readonly
                                               ng-value="dealerInfo.overallBiz-dealerInfo.sanitaryBiz">
                                    </div>
                                    <div class="col-md-4">
                                        <label>= {{dealerInfo.overallBiz}}</label>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="row">
                                <div class="form-inline">
                                    <div class="col-md-4">
                                        <label>Distribution:</label>
                                        <label class="error" ng-show="dealerInfo.distributionBiz>dealerInfo.overallBiz">*Distribution
                                            should not more than {{dealerInfo.overallBiz}} </label>
                                        <input type="number" min="0" id="distribution"
                                               ng-model="dealerInfo.distributionBiz"
                                               name="distribution" placeholder="Distribution"
                                               class="form-control input-sm divMargin" title="Distribution"
                                               onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                    </div>
                                    <div class="col-md-3">
                                        +&nbsp; &nbsp;&nbsp;<label>Retail:</label>
                                        <label class="error"
                                               ng-show="dealerInfo.retailBiz+dealerInfo.distributionBiz>dealerInfo.overallBiz">*Retail
                                            should not more than {{dealerInfo.overallBiz-dealerInfo.distributionBiz}} </label>
                                        <input type="number" min="0" id="retail" ng-model="dealerInfo.retailBiz"
                                               name="retail" placeholder="Retail" title="Retail"
                                               class="form-control input-sm divMargin"
                                               onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                    </div>
                                    <div class="col-md-4">
                                        +&nbsp;&nbsp;&nbsp;<label>Projects:</label>
                                        <input type="number" id="projects" name="projects" placeholder="Projects"
                                               title="Projects"
                                               class="form-control input-sm divMargin" readonly
                                               min="0"
                                               ng-value="dealerInfo.overallBiz-dealerInfo.distributionBiz-dealerInfo.retailBiz">
                                    </div>
                                    <div class="col-md-1">
                                        <label>= {{dealerInfo.overallBiz}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="row">
                                <div class="form-inline">
                                    <div class="col-md-4">
                                        <label>Vitreous:</label>
                                        <label class="error"
                                               ng-show="dealerInfo.sanitaryWareBiz2>dealerInfo.sanitaryBiz">*Vitreous
                                            should not more than {{dealerInfo.sanitaryBiz}} </label>
                                        <input type="number" min="0" id="sanitaryWare"
                                               onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                               ng-model="dealerInfo.sanitaryWareBiz2" name="sanitaryWare"
                                               placeholder="Vitreous" title="Vitreous"
                                               class="form-control input-sm divMargin">
                                    </div>

                                    <div class="col-md-3">
                                        +&nbsp;&nbsp;<label>Faucet:</label>
                                        <input type="number" id="faucet" name="Faucet" placeholder="Faucet"
                                               title="Faucet"
                                               class="form-control input-sm " readonly
                                               ng-value="dealerInfo.sanitaryBiz-dealerInfo.sanitaryWareBiz2-dealerInfo.showerEnclosure">
                                    </div>
                                    <div class="col-md-4">
                                        +&nbsp;&nbsp;<label>Shower Enclosure:</label>
                                        <label class="error"
                                               ng-show="dealerInfo.sanitaryWareBiz2+dealerInfo.showerEnclosure>dealerInfo.sanitaryBiz">*Shower Enclosure
                                            should not more than {{dealerInfo.sanitaryBiz-dealerInfo.sanitaryWareBiz2}} </label>
                                        <input type="number" min="0" id="showerEnclosure"
                                               ng-model="dealerInfo.showerEnclosure" name="showerEnclosure"
                                               placeholder="Shower Enclosure" title="Shower Enclosure"
                                               class="form-control input-sm divMargin"
                                               onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                    </div>
                                    <div class="col-md-1">
                                        <label>= {{dealerInfo.sanitaryBiz}}</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div style="margin-right:25px" class="pull-right">
                            <!--<button class="btn btn-success pull-left" id="btnDealerInfoSave" ng-click="SaveData()">Save</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->

                            <input type="submit" value="Next" style="background-color: #C19A5A;color:#ffffff"
                                   class="btn"
                                   id="btnDealerInfoNext">
                            </input>
                          </div>
                    </div>
                    <div class="row divMargin" style="color:blue;">
                        <span>&#8594; Please enter the values in INR  lakhs</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="c-tab">
            <form onsubmit="validateOverallBiz()" id="divBusinessSplit">
                <div class="c-tab__content">
                    <div class="row divMargin">
                        <div class="divMargin" style="color:blue;margin-left: 2%">
                            <span>Overall Sanitary Biz: {{dealerInfo.sanitaryBiz}}</span>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-3">
                                <label>Jaquar</label>
                            </div>
                            <div>
                                <input type="number" min="0" id="txtBSJaquar" ng-model="businessSplit.txtBSJaquar"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       class="divMargin form-control"/>
                            </div>

                            <div class="col-md-3">
                                <label>Hindware</label>
                            </div>
                            <div>
                                <input type="number" min="0" id="txtBSHindware"
                                       ng-model="businessSplit.txtBSHindware"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       class="divMargin form-control"/>
                            </div>

                            <div class="col-md-3">
                                <label>CERA</label>
                            </div>
                            <div>
                                <input type="number" min="0" id="txtBSCERA" ng-model="businessSplit.txtBSCERA"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       class="divMargin form-control"/>
                            </div>

                            <div class="col-md-3">
                                <label>Parryware</label>
                            </div>
                            <div>
                                <input type="number" min="0" id="txtBSParryware"
                                       ng-model="businessSplit.txtBSParryware"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       class="divMargin form-control"/>
                            </div>
                            <div class="col-md-3">
                                <label>ROCA</label>
                            </div>
                            <div>
                                <input type="number" min="0" id="txtBSROCA" ng-model="businessSplit.txtBSROCA"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       class="divMargin form-control"/>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="col-md-3">
                                <label>Toto</label>
                            </div>
                            <div>
                                <input type="number" min="0" id="txtBSToto" ng-model="businessSplit.txtBSToto"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       class="divMargin form-control"/>
                            </div>
                            <div class="col-md-3">
                                <label>Grohe</label>
                            </div>
                            <div>
                                <input type="number" id="txtBSGrohe" ng-model="businessSplit.txtBSGrohe"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       class="divMargin form-control"/>
                            </div>
                            <div class="col-md-3">
                                <label>Hansgrohe</label>
                            </div>
                            <div>
                                <input type="number" min="0" id="txtBSHansgrohe"
                                       ng-model="businessSplit.txtBSHansgrohe"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       class="divMargin form-control"/>
                            </div>
                            <div class="col-md-3">
                                <label>Kohler</label>
                            </div>
                            <div>
                                <input type="number" min="0" id="txtBSKohler" ng-model="businessSplit.txtBSKohler"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       class="divMargin form-control"/>
                            </div>
                            <div class="col-md-3">
                                <label>Duravit</label>
                            </div>
                            <div>
                                <input type="number" min="0" id="txtBSDuravit" ng-model="businessSplit.txtBSDuravit"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       class="divMargin form-control"/>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="col-md-3">
                                <label>VB</label>
                            </div>
                            <div>
                                <input type="number" min="0" id="txtBSVB" ng-model="businessSplit.txtBSVB"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       class="divMargin form-control"/>
                            </div>
                            <div class="col-md-3">
                                <label>Vitra</label>
                            </div>
                            <div>
                                <input type="number" min="0" id="txtBSVitra" ng-model="businessSplit.txtBSVitra"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       class="divMargin form-control"/>
                            </div>
                            <div class="col-md-3">
                                <label>Gebrit</label>
                            </div>
                            <div>
                                <input type="number" min="0" id="txtBSGebrit" ng-model="businessSplit.txtBSGebrit"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       class="divMargin form-control"/>
                            </div>
                            <div class="col-md-3">
                                <label>American Standard</label>
                            </div>
                            <div>
                                <input type="number"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       id="txtBSAmericanStandard" ng-model="businessSplit.txtBSAmericanStandard"
                                       class="divMargin form-control"/>
                            </div>
                            <div class="col-md-3">
                                <label>Others</label>
                            </div>
                            <div>
                                <input type="number" min="0" id="txtBSOthers" ng-model="businessSplit.txtBSOthers"
                                       onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                       class="divMargin form-control"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="margin-right:25px" class="pull-right">
                            <!--<button class="btn btn-success pull-left" id="btnBusinessSplitSave" ng-click="SaveData()">Save</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <!---->
                            <input type="submit" value="Next" style="background-color: #C19A5A;color:#ffffff"
                                   class="btn"
                                   id="btnBusinessSplitNext">

                            </input>
                        </div>
                    </div>
                    <div class="row divMargin" style="color:blue;">
                        <span>&#8594; Please enter the values in INR  lakhs</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="c-tab">
            <form ng-submit="LoadPreview()">
                <div class="c-tab__content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div>
                                    <label>Store Orientation</label>
                                    <select id="storeOrientation" class="form-control divMargin">
                                        <option value="Architect Led Retail">Architect Led Retail</option>
                                        <option value="Small Builders/PMC/Plumber/Contractor">Small
                                            Builders/PMC/Plumber/Contractor
                                        </option>
                                        <option value="Project Only">Project Only</option>
                                    </select>
                                    <input id="txtSAStoreOrientation" ng-model="storeArea.txtSAStoreOrientation"
                                           placeholder="Store Orientation"
                                           title="Store Orientation"
                                           class="divMargin form-control-picker" style="width:200px;display:none"
                                    />
                                </div>

                                <!--<div class="col-md-offset-2">-->
                                <!--<input id="txtSAStoreOrientation" ng-model="storeArea.txtSAStoreOrientation"-->
                                <!--class="divMargin form-control-picker" placeholder="Store Orientation"-->
                                <!--title="Store Orientation"/>-->
                                <!--</div>-->
                            </div>
                            <div class="col-md-4">

                                <div class="col-md-offset-3">
                                    <input maxlength="3" id="txtSAAvgTicketSize" ng-model="storeArea.txtSAAvgTicketSize"
                                           class="divMargin form-control-picker"
                                           placeholder="Avg. Ticket Size of Retail Customer Per Bathroom"
                                           title="Avg. Ticket Size of Retail Customer Per Bathroom"/>
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div class="col-md-offset-3">
                                    <input id="txtSAStoreSize" ng-model="storeArea.txtSAStoreSize"
                                           class="divMargin form-control-picker" placeholder="Total Store Area"
                                           title="Store area cannot be lesser than 100 Sq.ft"/>
                                </div>
                            </div>

                        </div>
                        <div id="divStoreArea">
                            <div class="col-md-4">
                                <div class="col-md-3">
                                    <label>Jaquar</label>
                                </div>
                                <div>
                                    <input type="number" min="0" id="txtSAJaquar"
                                           ng-disabled="!businessSplit.txtBSJaquar>0" ng-model="storeArea.txtSAJaquar"
                                           class="divMargin form-control"/>
                                </div>

                                <div class="col-md-3">
                                    <label>Hindware</label>
                                </div>
                                <div>
                                    <input type="number" min="0" id="txtSAHindware" ng-model="storeArea.txtSAHindware"
                                           ng-disabled="!businessSplit.txtBSHindware>0"
                                           class="divMargin form-control"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                </div>

                                <div class="col-md-3">
                                    <label>CERA</label>
                                </div>
                                <div>
                                    <input type="number" min="0" id="txtSACERA" ng-model="storeArea.txtSACERA"
                                           class="divMargin form-control"
                                           ng-disabled="!businessSplit.txtBSCERA>0"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                </div>

                                <div class="col-md-3">
                                    <label>Parryware</label>
                                </div>
                                <div>
                                    <input type="number" min="0" id="txtSAParryware" ng-model="storeArea.txtSAParryware"
                                           class="divMargin form-control"
                                           ng-disabled="!businessSplit.txtBSParryware>0"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                </div>
                                <div class="col-md-3">
                                    <label>ROCA</label>
                                </div>
                                <div>
                                    <input type="number" min="0" id="txtSAROCA"
                                           ng-disabled="!businessSplit.txtBSROCA>0"
                                           ng-model="storeArea.txtSAROCA"
                                           class="divMargin form-control"/>
                                </div>
                                <div class="col-md-3">
                                    <label>No of Floors</label>
                                </div>
                                <div>
                                    <input type="number" min="0" id="txtNoOfFloors" ng-model="storeArea.txtNoOfFloors"
                                           class="divMargin form-control"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="col-md-3">
                                    <label>Toto</label>
                                </div>
                                <div>
                                    <input type="number" min="0" id="txtSAToto" ng-model="storeArea.txtSAToto"
                                           class="divMargin form-control"
                                           ng-disabled="!businessSplit.txtBSToto>0"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                </div>
                                <div class="col-md-3">
                                    <label>Grohe</label>
                                </div>
                                <div>
                                    <input type="number" min="0" id="txtSAGrohe" ng-model="storeArea.txtSAGrohe"
                                           class="divMargin form-control"
                                           ng-disabled="!businessSplit.txtBSGrohe>0"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                </div>
                                <div class="col-md-3">
                                    <label>Hansgrohe</label>
                                </div>
                                <div>
                                    <input type="number" min="0" id="txtSAHansgrohe" ng-model="storeArea.txtSAHansgrohe"
                                           class="divMargin form-control"
                                           ng-disabled="!businessSplit.txtBSHansgrohe>0"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                </div>
                                <div class="col-md-3">
                                    <label>Kohler</label>
                                </div>
                                <div>
                                    <input type="number" min="0" id="txtSAKohler" ng-model="storeArea.txtSAKohler"
                                           class="divMargin form-control"
                                           ng-disabled="!businessSplit.txtBSKohler>0"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                </div>
                                <div class="col-md-3">
                                    <label>Duravit</label>
                                </div>
                                <div>
                                    <input type="number" min="0" id="txtSADuravit" ng-model="storeArea.txtSADuravit"
                                           class="divMargin form-control"
                                           ng-disabled="!businessSplit.txtBSDuravit>0"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                </div>
                                <div class="col-md-3">
                                    <label>Lift Facility</label>
                                </div>

                                <div class="radio">

                                    <label><input type="radio" name="liftFacility" ng-model="storeArea.txtLiftFacility"
                                                  value="Yes">Yes</label>
                                    <label><input type="radio" name="liftFacility" ng-model="storeArea.txtLiftFacility"
                                                  value="No">No</label>
                                </div>
                                <!--<input type="text" id="txtLiftFacility" ng-model="storeArea.txtLiftFacility"-->
                                <!--class="divMargin form-control" placeholder="YES/NO"/>-->


                            </div>
                            <div class="col-md-4">
                                <div class="col-md-3">
                                    <label>VB</label>
                                </div>
                                <div>
                                    <input type="number" min="0" id="txtSAVB" ng-model="storeArea.txtSAVB"
                                           class="divMargin form-control"
                                           ng-disabled="!businessSplit.txtBSVB>0"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                </div>
                                <div class="col-md-3">
                                    <label>Vitra</label>
                                </div>
                                <div>
                                    <input type="number" min="0" id="txtSAVitra" ng-model="storeArea.txtSAVitra"
                                           class="divMargin form-control"
                                           ng-disabled="!businessSplit.txtBSVitra>0"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                </div>
                                <div class="col-md-3">
                                    <label>Gebrit</label>
                                </div>

                                <div>
                                    <input type="number" min="0" id="txtSAGebrit" ng-model="storeArea.txtSAGebrit"
                                           class="divMargin form-control"
                                           ng-disabled="!businessSplit.txtBSGebrit>0"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                </div>
                                <div class="col-md-3">
                                    <label>Viega</label>
                                </div>
                                <div>
                                    <input type="number" min="0" id="txtSAViega" ng-model="storeArea.txtSAViega"
                                           class="divMargin form-control"
                                           ng-disabled="!businessSplit.txtBSViega>0"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                </div>
                                <div class="col-md-3">
                                    <label>American Standard</label>
                                </div>
                                <div>
                                    <input type="number" min="0"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                           id="txtSAAmericanStandard" ng-model="storeArea.txtSAAmericanStandard"
                                           ng-disabled="!businessSplit.txtBSAmericanStandard>0"
                                           class="divMargin form-control"/>
                                </div>
                                <div class="col-md-3">
                                    <label>Others</label>
                                </div>
                                <div>
                                    <input type="number" min="0" id="txtSAOthers" ng-model="storeArea.txtSAOthers"
                                           class="divMargin form-control"
                                           ng-disabled="!businessSplit.txtBSOthers>0"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="margin-right:25px" class="pull-right">
                            <!--<button class="btn btn-success pull-left" id="btnStoreAreaSave" ng-click="SaveData()">Save</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                            <!---->
                            <input type="submit" value="Preview" style="background-color: #C19A5A;color:#ffffff"
                                   class="btn" id="btnStoreAreaPreview"></input>
                        </div>
                    </div>
                    <div class="row divMargin" style="color:blue;border:1px solid #cfcece">

                        <span>&#8594; Please enter the values in Sq.ft</span> </br>
                        <span>&#8594; Store size cannot be less than 100 Sq.ft</span> </br>
                        <span>&#8594; Avg. ticket size is to be entered in INR 1000</span>

                    </div>
                </div>
            </form>
        </div>

    </div>

</div>


<script>
    $('#saveBtn').hide();
    $('#ddlStoreLocation').multipleSelect({width: 200, selectAll: false, single: true});
    $('#ddlStoreLocation').multipleSelect('setSelects', []);
    $('#ddlStoreType').multipleSelect({width: 200, selectAll: false, single: true});
    $('#ddlStoreType').multipleSelect('setSelects', []);
    $('#ddlDealerFor').multipleSelect({
        width: 200, selectAll: true, single: false, onClick: function (view) {
            UpdateDealerFor(view.value);
        }
    });
    $('#ddlDealerFor').multipleSelect('setSelects', []);
    $('#ddlDistributorFor').multipleSelect({
        width: 200, selectAll: true, single: false, onClick: function (view) {
            UpdateDistributorFor(view.value);
        }
    });

    $('#ddlDistributorFor').multipleSelect('setSelects', []);
    var myTabs = tabs({
        el: '#tabs',
        tabNavigationLinks: '.c-tabs-nav__link',
        tabContentContainers: '.c-tab'
    });


    myTabs.init();

    var validateOverallBiz = function (v) {
        var overallBusiness = parseInt($('#sanitaryBusiness').val())
        var fields = ['Jaquar', 'Hindware', 'CERA', 'Parryware', 'ROCA', 'Kohler', 'Toto', 'Grohe', 'Hansgrohe', 'Duravit', 'VB', 'Vitra', 'Gebrit', 'AmericanStandard', 'Others']

        var total = 0
        fields.forEach(function (t) {
            total += parseInt($("#txtBS" + t).val()) || 0
        })
        if (overallBusiness === total) {
            gotoTab(2)
        } else {
            alert('Overall Business value should be equal to the individual values entered')
        }


    }
    var checkNegativeValueIsExist = function (inputValue, id) {
        console.log("checkNegativeValueIsExist")
        console.log(inputValue, id)
    }
    var gotoTab = function (tab) {
        // console.log('goto tab')
        myTabs.goToTab(tab);
    }

    function showPreviewButton() {
        console.log("Show")
        $('#saveBtn').show();
    }

    function UpdateDealerFor(selectedValue) {
        if (selectedValue == "Others") {
            $('#txtDealerForOther').show();
        }
        else
            $('#txtDealerForOther').hide();
    }

    function UpdateDistributorFor(selectedValue) {
        if (selectedValue == "Others") {
            $('#txtDistributorForOther').show();
        }
        else
            $('#txtDistributorForOther').hide();
        $('#txtNoofSubDealersbeingServiced').attr('readonly', false);
        $('#txtAnnualDistBusiness').attr('readonly', false);
    }


    //$(document).ready(function ($) {
    //    var scope = angular.element('#ddlDealerName').scope();
    //    scope.$apply(function () {
    //        angular.element('#ddlDealerName').scope().LoadOnce();
    //    });
    //});

</script>

</body>

</html>
