﻿<html ng-app="KohlerMarketModule">
<!-- id="ng-app" IE<8 -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body style="margin-top:20px">
<img src="images/spinner.gif" id="spinner" style="margin-top: 5em;margin-left: 40%">
    <div class="container"  ng-controller="PreviewController" id="container">
        <h4>Please Review and Submit:</h4>
        <div class="row" ng-controller="PreviewController">

            <div class="col-md-4" style="border-right:1px solid black;">
                <div class="row">
                    <div class="col-md-6">
                        <label>TSM Name:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('marketmapping.lblTSMName')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Dealer Name:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('marketmapping.ddlDealerName')}}</label>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Zone:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('marketmapping.lblZone')}}</label>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Address:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('marketmapping.lblAddress')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>City:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('marketmapping.lblCity')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>City Rank:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('marketmapping.lblCityRank')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Dealer Source:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('marketmapping.lblDealerSource')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Territory:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('marketmapping.lblTerritory')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Dealer Ref No:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('marketmapping.lblDealerRefNo')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>State:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('marketmapping.lblState')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Region:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('marketmapping.lblRegion')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Contact Name:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('marketmapping.lblContactName')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Contact Email:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('marketmapping.lblContactEmail')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Area:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('marketmapping.lblArea')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>ASM Name:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('marketmapping.lblASMName')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Catchment Name:</label>
                    </div>

                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('marketmapping.lblCatchmentName')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Contact No:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('marketmapping.lblContactNo')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Is Duplicate:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('dealerInfo.Duplicate')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Location:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('dealerInfo.ddlStoreLocation')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Type:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('dealerInfo.ddlStoreType')}}</label>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Dealer For:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('dealerInfo.ddlDealerFor')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Distributor For:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('dealerInfo.ddlDistributorFor')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>No of Sub Dealers Serviced:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('dealerInfo.txtNoofSubDealersbeingServiced')}}</label>
                    </div>
                </div>
              
                </div>
            <!--second-->
            <div class="col-md-4" style="border-right:1px solid black;">               
                <div class="row">
                    <div class="col-md-6">
                        <label>Annual Retail + Project (INR Lacs):</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('dealerInfo.txtAnnualRetailandProject')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Annual Sanitory Biz. (Project + Retail) (INR Lacs):</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('dealerInfo.txtAnnualSanitoryBiz')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Annual Sanitory  Project (INR Lacs):</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('dealerInfo.txtAnnualSanitoryProject')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Annual CP Biz (INR Lacs):</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('dealerInfo.txtAnnualCPBiz')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Jaquar INR:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('dealerInfo.txtJaquarINR')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Annual Sanitory  Retail (INR Lacs):</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('dealerInfo.txtAnnualSanitoryRetail')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Annual VC Biz (INR Lacs):</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('dealerInfo.txtAnnualVCBiz')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Annual Shower Enclosure Biz (INR Lacs):</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('dealerInfo.txtAnnualShowerEnclosureBiz')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>No of Sub Dealers:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('dealerInfo.txtNoOfSubDealers')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Business Split Jaquar:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('businessSplit.txtBSJaquar')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Business Split Hindware:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('businessSplit.txtBSHindware')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Business Split CERA:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('businessSplit.txtBSCERA')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Business Split Parryware:</label>
                    </div>

                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('businessSplit.txtBSParryware')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Business Split ROCA:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('businessSplit.txtBSROCA')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Business Split Toto:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('businessSplit.txtBSToto')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Business Split Grohe:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('businessSplit.txtBSGrohe')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Business Split Hansgrohe:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('businessSplit.txtBSHansgrohe')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Business Split Kohler:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('businessSplit.txtBSKohler')}}</label>
                    </div>
                </div>
               
            </div>
            <!--third-->
            <div class="col-md-4" style="border-right:1px solid black;">   
                <div class="row">
                    <div class="col-md-6">
                        <label>Business Split Duravit:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('businessSplit.txtBSDuravit')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Business Split VB:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('businessSplit.txtBSVB')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Business Split Vitra:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('businessSplit.txtBSVitra')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Business Split Gebrit:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('businessSplit.txtBSGebrit')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Business Split Viega:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('businessSplit.txtBSViega')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Business Split Others:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('businessSplit.txtBSOthers')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Orientation:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSAStoreOrientation')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Avg Ticket Size:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSAAvgTicketSize')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Size:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSAStoreSize')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Area Jaquar:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSAJaquar')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Area Hindware:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSAHindware')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Area CERA:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSACERA')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Area Parryware:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSAParryware')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Area ROCA:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSAROCA')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Area Toto:</label>
                    </div>

                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSAToto')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Area Grohe:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSAGrohe')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Area Hansgrohe:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSAHansgrohe')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Area Kohler:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSAKohler')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Area Duravit:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSADuravit')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Area VB:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSAVB')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Area Vitra:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSAVitra')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Area Gebrit:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSAGebrit')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Area Viega:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSAViega')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Store Area Others:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtSAOthers')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>No of Floors:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtNoOfFloors')}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Lift Facility:</label>
                    </div>
                    <div class="col-md-6">
                        <label ng-controller="PreviewController" style="font-weight:bold">{{GetValues('storeArea.txtLiftFacility')}}</label>
                    </div>
                </div>
            </div>
            </div>
        <div class="row">
            <div style="margin-right:25px" class="pull-right" ng-controller="PreviewController">
                <button class="btn btn-success pull-left" id="btnPreviewCancel" onclick="history.back()">Back</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button style="background-color: #C19A5A;color:#ffffff" class="btn" id="btnPreviewSubmit" ng-click="SubmitData()">Submit</button>
            </div>

        </div>
        </div>


</body>

</html>